# certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
# charset-normalizer==3.0.1
idna==3.4
Naked==0.1.32
pycryptodome==3.17
PyYAML==6.0
requests==2.28.2
shellescape==3.8.1
urllib3==1.26.14
wincertstore==0.2
crc16==0.1.1
cryptography==2.8
websocket-client==0.53.0
websockets==10.4
PyJWT==2.6.0
PyMySQL==1.0.2
fastapi==0.89.1
crc16==0.1.1
anyio==3.6.2
passlib==1.7.4
interruptingcow==0.8
